<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Python no Brasil</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <div class="calendar">
    {% for month in calendar.values() %}
    <div class="month">
      <div class="month-name">{{ month.abbr }}</div>
      {% if month.events %}
      <ul>
        {% for event in month.events %}
          <a href="{{ event.url }}"><li>{{ event.name }}<span>{{ event.date_range }}</span></li></a>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <footer>
    <img class="python-logo" src="logo.png"/></div>
    <span class="footer-title">Eventos Python no <span class="country">Brasil</span> em <span class="current-year">2018</span></span>
    <a href="https://github.com/rougeth/pythonnobrasil#-eventos-python-no-brasil">Adicionar evento</a>
    &nbsp;
    <a href="https://calendar.google.com/calendar/embed?src=rougeth.com_5a9t9ilqlfumkopl3nlmmkq9kk%40group.calendar.google.com&ctz=America%2FSao_Paulo">Incorporar agenda</a>
    &nbsp;
    <a href="https://calendar.google.com/calendar/ical/rougeth.com_5a9t9ilqlfumkopl3nlmmkq9kk%40group.calendar.google.com/public/basic.ics">(.ics)</a>
    &nbsp;
    <a href="https://github.com/rougeth/pythonnobrasil">Github</a>
    <span class="space"></span>
    <span class="made-with">Made with <span><3</span> by <a href="https://rgth.co">Marco Rougeth</a>.</span>
  </footer>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115019492-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115019492-1');
  </script>

</body>
</html>
